@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

* {
	font-family:'Open Sans';
	padding-top: 5px;
	font-weight: thin;
	text-align: center;
	
}

span {
	color: orange;
}
p {
	
	font-size: 25px;
	color:#9acd32; 
}

.tables {
	display: flex;
	justify-content: space-around;
	font-size: 10px;
	color: white;
}
h1 {
	font-size: 60px;
	color: orange;
}
.top1, .top2 {
	font-size: 30px;
	color: grey;
}

form {
	font-size: 20px;
	color: grey;
	
}
/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px grey inset; /* WebKit-specific box-shadow */
    box-shadow: 0 0 0 30px white inset; /* Standard box-shadow for compatibility */
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: black !important; /* Define a cor do texto (azul) */
    font-size: 5px;
}

#error-message {
    color: red; /* Define a cor do texto para preto */
}