@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

* {
	font-family:'Open Sans';
	padding-top: 5px;
	font-weight: thin;
	text-align: center;
	
}

span {
	color: orange;
}
p {
	
	font-size: 25px;
	color:#9acd32; 
}

.background-image{
  background-image: url('https://images.pexels.com/photos/7967220/pexels-photo-7967220.jpeg');
  background-size: 100%; /* Isso fará com que a imagem cubra a tela inteira */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center; /* Isso centralizará a imagem na tela */
  height: 100vh; /* Define a altura para cobrir toda a tela verticalmente */
  opacity: 0.5; /* Define a opacidade da imagem para 50% */
}


.top {
	font-size:30px;
	display: flex;
}
h2 {
	font-size: 35px;
}
h4 {
	font-size: 20px;
}
.buttons {
	display: flex;
}
a {
	font-size: 20px;
}