@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

* {
	font-family:'Open Sans';
	padding-top: 10px;
	font-weight: thin;
	text-align: center;	
}

span {
	color: orange;
}
p, label {
	font-size: 23px;
	color:#9acd32; 
}
.top {
	font-size:30px;
	text-align: left;
	
}
h2, h3 {
	font-size: 30px;
	text-align: center;

}
form, p {
	text-align: center;
}
.up {
	line-height: 0;
}
.question {
    text-align: center;
    margin-bottom: 10px; /* Espaço entre as perguntas */
    /* Adicione mais estilos conforme necessário */
}

.form-input {
    width: 20%; 
    box-sizing: border-box; 
    text-align: left; 
}
.form-label {
	color:#9acd32;
}
.division {
	display: flex;
	width: 600px; /* Tamanho fixo da divisão principal */
    margin: auto; /* Centralizar a divisão */
}
.large-textbox {
	width: 300px;
}
.superlarge-textbox {
	width: 100%;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
button {
	text-align:center;
}
.form-check-label {
	color: black;
	font-size: 20px;
}
.input-groupA {
	display: block;
}
.error-message {
	color: red;
}
#error-message {
    color: red;
    font-size: 5px;
 }