@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

* {
	font-family:'Open Sans';
	padding-top: 5px;
	font-weight: thin;
	text-align: center;	
}

span {
	color: orange;
}
p {
	
	font-size: 25px;
	color:#9acd32; 
}

span {
	color: orange;
}
.top {
	font-size:30px;
	text-align: left;
	
}
h2, h3 {
	font-size: 30px;
	text-align: center;

}
form, p {
	text-align: left;
}
.up {
	line-height: 0;
}
.question {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre as perguntas */
    /* Adicione mais estilos conforme necessário */
}

.form-input {
    width: 20%; 
    box-sizing: border-box; 
    text-align: left; 
}
.division {
	display: flex;
	width: 600px; /* Tamanho fixo da divisão principal */
    margin: auto; /* Centralizar a divisão */
}
.large-textbox {
	width: 300px;
}
.superlarge-textbox {
	width: 300px;
	height: 100px;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
button {
	text-align:center;
}


