@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

* {
	font-family:'Open Sans';
	padding-top: 5px;
	font-weight: thin;
	text-align: center;	
}

span {
	color: orange;
}
p {
	
	font-size: 25px;
	color:#9acd32; 
}

span {
	color: orange;
}
.top {
	font-size:30px;
	text-align: left;
	
}
h2, h3 {
	font-size: 30px;
	text-align: center;

}
form, p {
	text-align: left;
}
.up {
	line-height: 0;
}
 .question {
    text-align: center;
}

.form-input {
    width: 20%; 
    box-sizing: border-box; 
    text-align: left; 
}

