@charset "UTF-8";

* {
	font-family:'Open Sans';
	font-weight: thin;
	
}
.background-image{
  background-image: url('https://images.pexels.com/photos/4386505/pexels-photo-4386505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100%; /* Isso fará com que a imagem cubra a tela inteira */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center; /* Isso centralizará a imagem na tela */
  height: 100vh; /* Define a altura para cobrir toda a tela verticalmente */
}

span {
	color: orange;
}
.top {
	font-size:30px;
	text-align: left;
	
}
h2 {
	font-size: 20px;
	
}
h3 {
	font-size: 20px;
}
.up {
	line-height: 1px;
}

	