@charset "UTF-8";

* {
	font-family:'Open Sans';
	padding-top: 5px;
	font-weight: thin;
	text-align: center;
	
}

.background-image{
  background-image: url('https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100%; /* Isso fará com que a imagem cubra a tela inteira */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* Isso centralizará a imagem na tela */
  height: 100vh; /* Define a altura para cobrir toda a tela verticalmente */
}
span {
	color: orange;
}
.top {
	font-size:30px;
	text-align: left;
}
form, h3 {
	text-align: left;
	font-size: 30px;
}
p {
	text-align: left;
}
a {
	font-size: 25px;
}
h3 {
	color: orange;
}
h1 {
	font-size: 50px;
	text-align:center;
}

